<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.EmployeeDao">
    <insert id="SaveEmployee" parameterType="com.entity.Employee">
    	<selectKey keyProperty="id" resultType="int" order="BEFORE">
    		select seq_ems.nextval from dual
    	</selectKey>
    	insert into t_employee values(#{id},#{username},#{realname},#{password},#{sex})
    </insert>
    
    <select id="queryEmp" parameterType="com.entity.Employee"
     resultType="com.entity.Employee">
     	select username,password 
     	from t_employee
     	where username=#{username} and password=#{password}
     </select>
</mapper>
